# Explanation writer documents
*.odt
*.docx

# Homework images
*.png

# Submission zips
*.zip

# VS code
.vscode/

# Zed files
.zed/

# Scala/ JVM compiled output
*.class
*.jar

# Scala build artifacts
.scala-build/
.bloop/
*.tasty
.metals/
.bsp/
target/

# LaTeX artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
